/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}

.header,
.footer {
  height: 100vh;
  min-height: 668px;
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  gap: 55px;
}

.decorative-rec {
  position: absolute;
  top: 20px;
  right: 23px;
  font-size: 18px;
  font-weight: 400;
  color: var(--accent-color);
  padding-right: 8px;
  display: var(--display-rec);
  font-family: var(--text-font-family);
}

.decorative-rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  margin-left: 10px;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: "";
  display: block;
  border-bottom: 1px solid var(--accent-color-support);
  border-left: 1px solid var(--accent-color-support);
  block-size: 25px;
  inline-size: 25px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.header__theme-menu {
  display: flex;
  align-items: start;
  flex-direction: row-reverse;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11.5px;
  list-style: none;
}

.header__theme-menu-item {
  text-align: center;
  color: var(--accent-color);
}

.header__content {
  justify-self: end;
  align-self: center;
  font-family: var(--text-font-family);
  font-size: var(--text-font-size);
  font-weight: var(--font-weight-title);
  color: var(--text-color-title);
  background-color: var(--accent-color);
  line-height: 23.4px;
  inline-size: 355px;
}

.header__theme-menu-button {
  font-family: var(--text-font-family);
  font-weight: var(--font-weight-main-text);
  font-size: var(--text-font-size);
  color: var(--accent-color);
  min-block-size: 26px;
  min-inline-size: 70px;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  appearance: none;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--accent-color-support);
}

.header__theme-menu-button:focus-visible {
  border: 1px solid transparent;
  border-bottom: 1px solid var(--accent-color-support);
  outline: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color-transparent);
}

.header__theme-title-text,
.footer__title {
  grid-row: 2;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-family: var(--text-font-family);
  font-weight: 700;
  line-height: 83%;
  color: var(--text-header-footer);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.content {
  display: grid;
  gap: 50px;
  padding-top: 10px;
}

.section__title {
  font-size: var(--text-font-size);
  color: var(--accent-color-support);
  margin-bottom: 20px;
}

.section {
  font-size: var(--text-font-size);
  font-family: var(--text-font-family);
  padding: 0px 10px;
  
}

.text-blocks {
  display: grid;
  gap: 10px;
}

.causes {
  .section__title {
    grid-column: 1/ -1;
    padding-block-start: 80px;
  }

  .text-blocks {
    grid-column: 1/ -1;

    @media (width >= 1024px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }
}

.text-block {
  display: grid;
  align-content: start;
}

.section__link {
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--accent-color);
}
.section__link:focus {
  outline: none;
}
.section__link:hover {
  border: none;
  border-bottom: 2px solid var(--paragraph-color);
}

.section__link:focus-visible {
  outline: 1px solid var(--paragraph-color);
  outline-offset: 1px;
}

.text-block__title,
.text-block__subtitle {
  background-color: var(--accent-color);
  color: var(--text-color-title);
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
}

.text-block__title {
  font-weight: 700;
}

.text-block__content {
  color: var(--text-color-content);
  font-weight: var(--font-weight-main-text);
}

.text-block__content-link {
  text-shadow: 1px solid var(--text-color-content);
  text-decoration: none;
}

.text-block__content-link:hover {
  border-bottom: 1px solid var(--text-color-content);
}

.text-block__content-link:focus {
  outline: 1px solid var(--text-color-content);
}

.text-block__title-decor-outline {
  font-weight: var(--font-weight-main-text);
  margin: 10px 0px 0px 0px;
}

.text-block__subtitle {
  font-weight: 400;
  margin-top: 10px;
}

.section__gallery {
  display: grid;
  gap: 20px;
  grid-template-areas: inherit;
}

.gallery__item {
  display: block;
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}


/* 768px */


@media (width >= 768px) {
  .decorative-rec::after {
    margin-right: 20px;
  }

  .header__theme-menu {
    margin-top: 100px;
    margin-right: 0px;
  }

  .header__theme-menu-list {
    margin-top: 8px;
  }

  .header__content {
    margin: 0 0 20px 0;
    inline-size: 364px;
  }

  .header__theme-title-text {
    margin: 0px;
  }

  .title__text-decor {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .text-block__title,
  .text-block__subtitle {
    grid-column: 1 / -1;
  }

  .content {
    padding-bottom: 60px;
  }

  .section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 20px;
    column-gap: 20px;
  }

  .text-block__title {
    grid-column: 1 / -1;
  }

  .causes {
    padding-top: 10px;
  }

  .advices {
    padding-top: 10px;
  }

   .section__gallery {
    grid-template-areas:
      "a a b"
      "c d b"
      "c e e";
    grid-column: 1 / -1;
    gap: 20px;
    padding-top: 20px;
  }

  .sunset {
    grid-area: a;
  }

  .ice-cream {
    grid-area: b;
  }

  .tape {
    grid-area: c;
  }

  .books {
    grid-area: d;
  }

  .street {
    grid-area: e;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .footer__title {
    justify-self: center;
  }
}

/* 1024px */

@media (width >= 1024px) {
  .header__theme-menu {
    display: grid;
    justify-items: center;
    margin: 0px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 11px;
    margin-top: 19px;
    margin-right: -10px;
  }

  .header__content {
    inline-size: 491px;
    margin: 0px 5px 134px;
  }

  .header__theme-title-text {
    justify-content: flex-end;
  }

  .content {
    gap: 40px;
  }

  .section {
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
  }

  .text-blocks {
    grid-column: span 2;
  }


}