:root {
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --text-color-title: #000028;
  --text-header-footer: #db00ff;
  --text-color-content: #f1b2ce;
  --accent-color: #ff0070;
  --accent-color-support: #ff0070;
  --accent-color-title: #000028;
  --accent-color-transparent: #ff007066;
  --text-font-size: 18px;
  --text-font-family: "IBM Plex mono", sans-serif;
  --font-weight-main-text: 400;
  --font-weight-title: 700;
  --display-rec: block;



  --main-gap: 10px;
  --small-gap: 20px;
  --big-gap: 52px;
  --large-gap: 81px;

  --headings-text-transform: uppercase;
  --menu-text-transform: lowercase;
  --title-line-height: 82%;
  --header-text-width: 49%;
}
